<div class="container">
  <h1>Hosted Docset for {{.ArtifactId}}</h1>

  <h2>Latest ({{.LatestVersion}})</h2>

  <p>Click the link below to open this docset directly in Dash.</p>
  <p><a href="{{.DashURL}}">Dash Docset for {{.Id}}</a></p>
  {{.URL}}
  {{.DashURL}}
</div>